[submodule "Pressure_sensor_board"]
	path = Pressure_sensor_board
	url = git@github.com:lakotamm/Pressure_sensor_board.git
[submodule "madflight"]
	path = madflight
	url = git@github.com:lakotamm/madflight.git
